.menubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  background: white;
}

.postsPage .menubar {
  position: fixed;
  top 0;
  left 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

.logo {
  display: block;
  width: 180px;
  height: 16px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
}

.about {
  color: rgba(0, 0, 0, 0.2);
}

.about:hover {
  color: rgba(0, 0, 0, 0.6);
}
