.posts {
  width: 740px;
  margin: 0 auto;
  padding: 80px 0 30px 0;
}


.posts a {
  display: block;
  margin-top: 10px;
  padding: 20px;
  background: white;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
  border-radius: 5px;
}

.posts figure {
  width: 700px;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.posts h2 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
}

.posts p {
  font-family: 'PT Sans', sans-serif;
  font-size: 22px;
  line-height: 32px;
  margin-top: 9px;
  color: rgba(0,0,0,.4);
}

#p1 figure {
  background-image: url(../images/narkomfin.jpg);
}

#p2 figure {
  background-image: url(../images/centrosouz.jpg);
}
